* {
	margin: 0px;
	padding: 0px;
}

body {
	overflow: hidden;
	background: #fff;
	font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
}
p{
    margin-bottom: 0px;
}
button {
	cursor: pointer;
}

button, input[type="search"], input[type="text"] {
	border: none;
	outline: none;
}

/* MAIN APP ELEMENTS */
.leftPanel {
	flex: 25%;
	height: 100vh;
	background: #FFF;
	border-right: 1px solid #DDD;
}

header {
	width: 100%;
	height: 70px;
	background: #FFF;
}

.trigger {
	float: left;
	width: 32px;
	height: 32px;
	margin: 20px 15px;
	margin-bottom: 0px;
	color: #BBB;
	cursor: pointer;
	opacity: 0.6;
	background: none;
}

.trigger:hover {
	opacity: 1;
}

.trigger > svg {
	width: 24px;
	height: 24px;
	fill: #888;
}

.searchChats {
	width: calc(100% - 85px);
	height: 40px;
	background: #EEE;
	float: left;
	padding: 8px;
	margin-top: 14px;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
}

.searchChats:focus {
	color: #444;
	border: 2px solid #419fd9;
	background: rgb(243, 243, 243);
}

.chats {
	width: 100%;
	height: 75%;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
::-webkit-scrollbar {
	width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: gainsboro; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: ghostwhite; 
  }

.chatButton {
	float: left;
	width: 100%;
	height: 75px;
	background: #FFF;
	color: #555;
	cursor: pointer;
	overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chatButton:hover {
	color: #555;
	background: #EEE;
}

.active, .active:hover {
	color: #FFF;
	background: #419fd9; 
}

.chatInfo {
	float: left;
}

.chatInfo p {
	float: left;
}

.chatInfo .image {
	/* position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px; */
}

.chatInfo .my-image {
	background-image: url(https://avatars1.githubusercontent.com/u/21313332?s=460&v=4);
}

.chatInfo .name {
	float: left;
	font-weight: 600;
	margin-left: 80px;
	margin-top: -50px;
}

.chatInfo .message {
	float: left;
	clear: left;
	margin-left: 80px;
	margin-top: -25px;
    font-size: 14px;
}

.status {
	width: 60px;
	height: 100%;
	position: relative;
	float: right;
}

.status .fixed {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
}

div[class~="normal"] > .fixed {
	display: none;
}

div[class~="normal"] > .count {
	right: 10px;
	bottom: 12px;
}

div[class~="onTop"] > .fixed {
	display: block;
	width: 24px;
	height: 24px;
	fill: #FFF;
}

div[class~="onTop"] > .count {
	right: 10px;
	bottom: 7px;
	background: #FFF;
	color: #419fd9;
}

.status .count {
	position: absolute;
    /* right: 49px; */
    bottom: 7px;
    width: auto;
    height: auto;
    /* margin: auto; */
    padding: 3px 5px;
    border-radius: 20px;
    color: #222;
    background: rgba(0, 0, 0, 0.12);
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status .date {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
}

.status .read {
	position: absolute;
	right: 78px;
	top: 10px;
    font-size: 18px;
}

.rightPanel {
	flex: 70%;
	height: 100vh;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5svCUwYy2CT3hMt6p4KscjIqCp2rXi1g81WgO9mt8zlOjbockxM4Sc8zSslw7kEz15DA&usqp=CAU') 100% center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rightPanel .topBar {
	position: relative;
	width: 100%;
	height: 70px;
	background: #FFF;
}

.go-back {
	float: left;
	width: 44px;
	height: 44px;
	margin-left: 12px;
	margin-top: 12px;
	background: #419fd9;
	border: none;
	border-radius: 100%;
}

.go-back > svg {
	float: left;
	width: 24px;
	height: 24px;
	margin-left: calc(50% - 13px);
	fill: #fff;
}

.leftSide {
	display: inline-block;
	clear: none;
	float: left;
}

.leftSide .chatName {
	float: left;
	width: 320px;
	margin-left: 16px;
	margin-top: 13px;
	color: #444;
	font-weight: 600;
	cursor: default;
}

.chatName > span {
	font-size: 12px;
	font-weight: 500;
	color: #BBB;
	margin-left: 12px;
}

.leftSide .chatStatus {
	float: left;
	clear: left;
	margin-left: 16px;
	margin-top: 2px;
	font-size: 12px;
	color: #419fd9;
	font-weight: 300;
	cursor: default;
}

.rightSide {
	display: flex;
	clear: none;
	float: right;
	margin-right: 20px;
}

.tbButton, .otherTools .toolButtons {
	width: 50px;
	height: 50px;
	margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
	color: #888;
	border-radius: 100%;
}
.tbButton  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolButtons, .audio{
    background-color: #419fd9;
    width: 45px;
	height: 45px;
	margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
	color: #888;
	border-radius: 100%;
}
.tbButton:hover, .otherTools .toolButtons:hover {
	color: #555;
	background: #DDD;
}


/* THE CONVERSATION HISTORY CSS */

.convHistory {
	float: left;
	position: relative;
	width: 100%;
	height: calc(100vh - 140px);
	overflow-x: hidden;
	overflow-y: auto;
}

.userBg {
}
.chats-sec{
    width: 60%;
    margin: auto;
}
.loadingchat{
	width: fit-content;
	letter-spacing: 0.5px;
	padding: 4px 14px;
	font-weight: bold;
	font-size: 12px;
	background-color: ghostwhite;
	border-radius: 6px;
	margin: auto;
}
.chatfamily{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
}
.msg {
    position: relative;
    width: auto;
    min-width: 122px;
    max-width: 50%;
    height: auto;
    padding: 8px;
    padding-bottom: 31px;
    margin: 20px 15px;
    margin-bottom: 5px;
    background: #FFF;
    border-radius: 7px;
    clear: both;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.msg:nth-last-child(1) {
	margin-bottom: 20px;
}

.msg .timestamp {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 6px;
	color: #AAA;
	user-select: none;
    font-size: 12px;
}

.messageReceived {
	float: left;
	background: #FFF;
}

.messageSent {
	float: right;
	background: #effdde;
}

.messageSent > .timestamp, .messageSent > .readStatus {
	bottom: 10px;
	right: 40px;
	color: darkgreen;
	user-select: none;
}

.messageSent > .readStatus {
	position: absolute;
	bottom: 8px;
	right: 12px;
    font-size: 18px;
}


/* THE REPLY BAR CSS */

.replyBar {
	width: 100%;
	height: 70vh;
    position: relative;
    justify-content: center ;
}
.text-in{
    border-radius: 10px;
    overflow: hidden;
    height: 13%;
	width: 450px;
}
.replyBar .attach {
	width: 10%;
	height: -webkit-fill-available;
    color: #777;
	background: #FFF;
	float: left;
}

.replyBar .attach:hover {
  color: #555;
	background: #DDD;
}

.replyBar .d45 {
	transform: rotate(45deg);
	font-size: 25px;
}

.replyBar .replyMessage {
	width: 80%;
	float: left;
    height: -webkit-fill-available;
	padding: 0px 8px;
	font-size: 16px;
}

.replyBar .otherTools {
	height: 70px;
    display: flex;
}

ul[class~="popoverlist"]{
	margin-bottom: 0px;
}
div[class~="popoverlist"] li{
	list-style: none;
}
div[class~="popoverlist"] li i{
	margin-top: 10px;
	margin-right: 14px;
	margin-bottom: 14px;
	cursor: pointer;
	color: rgb(247, 8, 120);
	transform: scale(1.2);
	transition: transform 200ms;
}
div[class~="popoverlist"] li i:hover{
	transform: scale(1.4);
}
.popoverlist p{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	padding: 4px;
	border-radius: 10px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 600;
	cursor: pointer;
}
.popoverlist p:hover{
	background-color: #EEE;
}
.css-19kzrtu{
	padding: 12px;
}
 .userpro{
	width: 55px;
	height: 55px;
	background: lightgreen;
	border: none;
	border-radius: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
 }